* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  outline: none;
}